*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .footer-item--showroom{
  width: 30%;
}
.footer-item--link{
    width: 30%;
}
.footer-item-email{
    width: 30%;
} */
.container{
  background-color:#212121;
}
.footer-item__content{
    color: white;
    display: inline-block;
    
}
.showroom__heading{
    color: yellow;
}
.map-icon{
    margin-right: 5px;
}
.row-banner{
  padding-bottom: 80px;
}
/* //\\ */
.footer-follow__link{
  margin: 10px;
}
.link-icon{
  color: bisque;
}
.link-icon:hover{
  color:rgb(209, 209, 124);
}
.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  
  .input-gmail {
    max-width: 190px;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #53535f;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
  }
  
  .input-gmail:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .input-gmail:focus {
    border: 2px solid #a970ff;
    background-color: #0e0e10;
  }
  
  .search__btn-footer {
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height:100%;
    width: 80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: rgb(19, 18, 18);
    background-color: yellow;
  }
  
  .search__btn-footer:hover {
   border: 1px solid rgb(216, 186, 186);
  }
  /*  */
 
 .footer-follow{
    color: white;
    display: flex;
    padding-top: 20px;
 }
 .footer-item__heading{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-bottom: 90px;
    padding-top: 20px;
 
 }
 .form-subscribe{
    padding-top: 20px;
 }
 .certification{
    width: 210px;
    height: 80px;
    object-fit: cover;
    margin-left: 10px;
 }
 .certification-national{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 30px;
 }
 /*  */
.menu a{
    color: rgb(238, 238, 231);
    text-decoration: none;
    
    
}
li{
    list-style: none;
}
.menu a:hover{
    color: rgb(243, 243, 146);
   
}